.card {
	background-color: hsl(0, 0%, 100%);
	border: 1px solid hsl(0, 0%, 7%);
	border-radius: 20px;
	max-width: 360px;
	padding: 20px;
	box-shadow: 12px 12px 0 hsl(0, 0%, 7%);
}

.cardImg {
	border-radius: 10px;
	margin-bottom: 20px;
}

.cardDate {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 15px;
}

.cardTitle {
	font-weight: 800;
	margin-bottom: 15px;
	display: inline-block;
	transition: color 0.15s;
}

.cardTitle:hover {
	cursor: pointer;
	color: hsl(47, 88%, 63%);
}

.cardText {
	font-size: 16px;
	color: hsl(0, 0%, 50%);
	margin-bottom: 15px;
}
